* {
    padding: 0px;
    margin: 0px;
}

.container {
    display: grid;
    grid-template-columns: 1fr 4fr;
    grid-template-rows: 1fr 5fr;
    height: 100vh;
}

.dashboard {
    grid-area: 1 / 1 / 3 / 2;
    display: grid;
    grid-template-rows: 1fr 4fr 5fr;
    padding: 20px 20px;
}


.logo {
    font-size: 36px;
    font-weight: bold;
    display: flex;
    align-items: center;
}

.logo img {
    height: 1em;
    margin-right: 8px;
    filter: brightness(0) invert(1);
}

.top_dashboard ul li, .bottom_dashboard ul li, .search_bar, .top_right, .header_buttons {
    display: flex;
    align-items: center;
}

.top_dashboard ul li img, .bottom_dashboard ul li img {
    height: 1em;
    margin-right: 8px;
    filter: brightness(0) invert(1);
}

.top_dashboard, .bottom_dashboard {
    font-size: 20px;
    font-weight: bold;
}

.top_dashboard > ul > li, .bottom_dashboard > ul > li {
    padding: 10px 0px;
}

.dashboard, button {
    background-color: rgb(0, 191, 255);
    color: white;
}

.header {
    display: grid;
    grid-template-columns: 2fr 1fr;
    grid-template-rows: 1fr 2fr;
    padding: 20px 30px;
    gap: 30px;
}

.search_bar img, #bell {
    height: 1.5em;
    margin-right: 5px;
}

#cat, .trending_cats img{
    height: 3em;
    border-radius: 50%;
}

.welcome img {
    height: 5em;
    border-radius: 50%;
}

.search_bar button {
    width: 90%;
    height: 70%;
    background-color: rgb(216, 216, 216);
    border-radius: 8px;
    border: none;
}

.top_right, .welcome {
    font-weight: bold;
}

.top_right {
    gap: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: larger;
}

.welcome {
    display: flex;
    align-items: center;
    gap: 20px;
}

.header_buttons {
    justify-content: space-around;
}

.header_buttons button {
    width: 30%;
    height: 40%;
    border: none;
    border-radius: 8px;
    font-weight: bold;
}

.content {
    background-color: rgb(216, 216, 216);
    display: grid;
    grid-template-columns: 3fr 3fr 2fr;
    grid-template-rows: repeat(11, 1fr);
    height: 100vh;
    padding: 20px 20px;
    column-gap: 20px;
    row-gap: 20px;
    position: relative;
}

ul {
    list-style-type: none;
}

#project_text {
    grid-area: 1 / 1 / 2 / 3;
}

#announcements_text {
    grid-area: 1 / 3 / 2 / 4;
}

#project1 {
    grid-area: 2 / 1 / 5 / 2;
}

#project2 {
    grid-area: 2 / 2 / 5 / 3;
}

#project3 {
    grid-area: 5 / 1 / 8 / 2;
}

#project4 {
    grid-area: 5 / 2 / 8 / 3;
}

#project5 {
    grid-area: 8 / 1 / 11 / 2;
}

#project6 {
    grid-area: 8 / 2 / 11 / 3;
}

.announcements {
    grid-area: 2 / 3 / 6 / 4;
}

#trending_text {
    grid-area: 6 / 3 / 7 / 4;
}

.trending {
    grid-area: 7 / 3 / 11 / 4;
}

.project, .announcements, .trending {
    background-color: white;
    border-radius: 10px;
    padding: 15px 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

.project {
    border-left: 5px solid orange;
    position: relative;
}

.announcements, .trending {
    border-left: 5px solid rgb(0, 191, 255);
}

.text {
    font-size: larger;
    font-weight: bold;
}

#project_text, #announcements_text, #trending_text {
    position: absolute;
    bottom: 0;
    left: 0;
}

.project img {
    height: 1.5em;
    margin: 2px;
}

.project_icons {
    position: absolute;
    bottom: 0;
    right: 0;
    padding: 20px 20px
}

.announcements {
    display: flex;
    flex-direction: column;
    overflow: auto;
}

.announcements > div {
    padding: 15px 15px;

}
.community {
    border-top: 1px solid rgb(216, 216, 216);
    border-bottom: 1px solid rgb(216, 216, 216);
}

.trending {
    overflow: auto;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.trending_cats {
    display: flex;
    gap: 10px;
    align-items: center;
}

